/** @format */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 28px;
  font-weight: 100;
}

input {
  height: 30px;
  width: 30px;
  background-color: #d5d5d5;
  border-radius: 2px;
  cursor: pointer;
}
