/** @format */

.dta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dta label {
  font-size: 21px;
}
[type="date"] {
  width: 100%;
  position: relative;
}

[type="date"]::-webkit-calendar-picker-indicator {
  width: 100%;
  left: -1.5em;
  background: none;
  position: absolute;
  cursor: pointer;
}

.date-input {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
}

.date-input:focus {
  outline: none;
}
