/** @format */

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.datasect {
  display: flex;
  color: aliceblue;
  justify-content: space-around;
  width: 100%;
  margin-top: 5%;
}

.checkdatamoney {
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin-top: 1%;
}
